[Unit]
Description=Mail Notifier Daemon
After=systemd-networkd.service systemd-resolved.service

[Service]
Type=simple
Restart=on-failure
RestartSec=30
ExecStart=/usr/local/bin/mail-notifier-daemon

[Install]
WantedBy=default.target
